<!doctype html>
{% spaceless %}
{% load gesha i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
{% endspaceless %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% translate "Home" %}</title>

    <link href="{% static stylesheet_path %}" rel="stylesheet" />
  </head>
  <body>
    {% jscontext %}
    <script src="{% static 'gesha/dist/js/django-gesha.bundle.min.js' %}"></script>
    <script src="{% static script_path %}"></script>
  </body>
</html>
