<!doctype html>
{% spaceless %}
{% load gesha i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
{% endspaceless %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% translate "Home" %}</title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=zen-kaku-gothic-new:300,400" rel="stylesheet" />
    <link href="{% static stylesheet_path %}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>{% translate "My Site" %}</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <h2>{% translate "Enquire" %}</h1>
        <form id="enquiry-form" autocomplete="off">
          {% csrf_token %}
          <div class="form-fields">
            {{ enquiry_form.as_p }}
          </div>
          <button type="button">{% translate "Submit" %}</button>
        </form>
      </div>
    </main>

    {% jscontext %}
    <script src="{% static 'gesha/dist/js/django-gesha.bundle.min.js' %}"></script>
    <script src="{% static script_path %}"></script>
  </body>
</html>
